.form {
    position: relative;
    width: 500px;
    height: 600px;
    padding-left: 20px;
    padding-top: 15px;
    background-color: #e5dfcd;
    border-radius: 20px;
    margin: auto;
}

input[type=text],
[type=email] {
    width: 470px;
    height: 35px;
    font: 14px normal normal uppercase helvetica, arial, serif;
}

textarea {
    width: 470px;
    height: 110px;
    font: 14px normal normal uppercase helvetica, arial, serif;
}

input[type=submit] {
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 150px;
    border: 0px;
    background-color: #32A43E;
}

p {
    text-shadow: 0 1px 0 #ffffff;
    font-size: 24px;
}

.navbar-header img {
    height: 30px;
}

.navbar-toggle {
    float: left;
}

.nav-link.active.show {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #1f2e38, #3A6073);
    background: linear-gradient(59deg, #1f2e38, #3A6073);
    color: white;
}

.nav-link {
    font-size: 18px;
    color: black;
}

.nav-link:hover {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #1f2e38, #3A6073);
    background: linear-gradient(59deg, #1f2e38, #3A6073);
    color: white;
}

#img-der,
#img-izq {
    margin: 0;
    padding: 56px;
}

#img-der {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, 344e5f, #3A6073);
    background: linear-gradient(59deg, #344e5f, #3A6073);
    color: white;
}

.inner-column h1,
span {
    font-size: 30px;
}

.inner-column {
    text-align: left;
}

.inner-column span {
    color: #122731;
}

.inner-column p {
    font-size: 15px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}
/*Empleados*/
.stuff-box{
    padding: 70px 0px;
    font-style: italic;
    background: linear-gradient(59deg, white, #4c7b92);
}

.our-team{
    text-align: center;
    transition: all 0.5s ease 0s;
	margin-bottom: 30px;
}
.our-team:hover{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.our-team .pic{
    overflow: hidden;
    position: relative;
}
.our-team .pic:before,
.our-team .pic:after{
    content: "";
    width: 200%;
    height: 80%;
    background: rgba(38,37,37,0.8);
    position: absolute;
    top: -100%;
    left: -4%;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
}
.our-team .pic:after{
    background: rgba(214,81,6,0.8);
    top: auto;
    left: auto;
    bottom: -100%;
    right: -4%;
}
.our-team:hover .pic:before{ top: 0; }
.our-team:hover .pic:after{ bottom: 0; }
.our-team .pic img{
   width: 350px;
   height: 400px;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: georgian;
    position: absolute;
    bottom: 45%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #d65106;
    border-radius: 0 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover:after{ transform: rotate(180deg); }
.our-team .team-content{ padding: 20px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #d65106;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.our-team .post{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #333333;
    text-transform: capitalize;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

